*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.card{
    width: 40%;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

.cardLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.cardLeft span {
    font-weight: 400;
}

.cardLeft h1 {
    margin-top: 15px;
    font-size: 25px;
}

.cardLeft p {
    color: gray;
}